.sidebar{
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    position: fixed;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    flex-direction: column;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.15s;
}

.sidebar-link:hover{
    background-color: #efefef;
}

.sidebar-link img{
    width: 24px;
}

.sidebar-link div{
    font-size: 10px;
    color: rgb(33, 37, 41);
    margin-top: 6px;
}